<html>
  <head>
    <%= stylesheet_link_tag 'foods' %>
  </head>
  <body>

<h2>Public recipes</h2>

<% if @public_recipes.empty? %>
  <p>Not public recipes added yet</p>
<% else %>
  <% @public_recipes.each do |recipe| %>
        <h3><%= recipe.name %></h3>
        <p>By: <%= recipe.user.name %></p>
        <p>Total food items: 4</p>
        <p>Total price: $203</p>
  <% end %>

<% end %>

  </body>
</html>